*{
    box-sizing: border-box;
    
}
body{
    background-color: rgb(43, 117, 117);
    font-weight: bold;

}
.ejercicio{
    background-color: white;
    margin: 30px auto;
    width: 60%;
    height: 900px;

}
.titulo{
    margin: auto;
    width: 90%;
    padding: 40px;
    text-align: center;
}
span{
    font-size: 30px;
    border-bottom:1px solid cadetblue ;
    padding-bottom: 30px;
}
p{
    margin-left: 10%;
}
.container{
    display:flex;
    flex-direction: row;
    width: 700px;
    margin-left: auto;
    margin-right: auto;
}
.caja{
    font-size: 20px;
    width: 200px;
    text-align: center;
    margin: auto auto 20px auto;
    padding: 25px 50px;
}
.caja2 {
    font-size: 20px;
    width: 80%;
    margin: auto auto 20px auto;
    padding: 25px 50px;
}
.border1{
    border-radius: 20px 50px 10px 80px;
    border: 1px solid black;
}
.border2{
    border-radius: 10px;
    border: 1px solid black;
}
.border3{
    border-radius: 25px;
    border: 1px solid black;
    background: linear-gradient(180deg, rgb(255, 255, 255) 0%,  rgb(13, 175, 175) 100%);
}
.border4{
    border-radius: 25px;
    background: radial-gradient( rgba(255, 255, 255, 0.521) 40%,  rgb(13, 175, 175) 100%);
}
.border5{
    border: 1px solid black;
    border-radius: 25px;
}
.border6{
    border: 1px solid black;
}
.border7{
    border-radius: 50px;
    box-shadow: 10px 5px 5px 5px rgb(13, 175, 175, 0.5);
}
.border8{
    border-radius: 50px;
    border: 1px solid black;
}
.border9{
    text-shadow: 3px 3px 2px  rgb(13, 175, 175, 0.5);
    border-radius: 50px;
    border: 1px solid black;
}
.border10{
    border-radius: 50px;
    border: 1px solid black;
    background: linear-gradient(90deg, rgb(255, 255, 255) 0%,  rgb(13, 175, 175) 100%);
}

.fotter{
    width: 80%;
    font-size: 15px;
    text-align: center;
    margin: auto;
    border-top:1px solid cadetblue ;
    padding-top: 10px;
}
.fotter p{
    text-align: center;
    margin: 0;
}