*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
    h1{
        width: 50%;
        font-size: 4vw;
    }
    h1:hover + .grid-container1 > div, h1:hover + .grid-container2 > div{
        box-shadow: 0px 0px 15px gray;
        transition: 1s;
    } 
    .grid-container1 {
        height: 500px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-column-gap: 3px;
        grid-row-gap: 3px;
        
    }
    
    .grid-container1>div>div, .grid-container2>div>div{
        color: white;
        width: 50%;
        float: right;
        background-color: rgba(36, 36, 36, 0.76);
        font-size: 2vh;
        margin-right: 2%;
    } 
    .grid-container1 .div1 { 
        grid-area: 1 / 1 / 3 / 2; 
        background-image: url(../img/pexels-photo-2961121.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x:center;
    }
    .grid-container1 .div2 { 
        grid-area: 1 / 2 / 2 / 3; 
        background-image: url(../img/pexels-photo-2941098.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .grid-container1 .div3 { 
        grid-area: 2 / 2 / 3 / 3; 
        background-image: url(../img/pexels-photo-2948260.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
    }
    .grid-container1 .div4 { 
        grid-area: 1 / 3 / 3 / 4; 
        background-image: url(../img/pexels-photo-2958731.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x:center;
    }
    .grid-container1 .div5 { 
        grid-area: 1 / 4 / 2 / 5; 
        background-image: url(../img/pexels-photo-2944537.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x:center;
        
    }
    .grid-container1 .div6 { grid-area: 2 / 4 / 3 / 5; 
        background-image: url(../img/pexels-photo-2967810.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x:center;}


    .grid-container2 {
        height: auto;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 3px;
        grid-row-gap: 3px;
    }

    .grid-container2 .div1 { 
        height: 300px;
        grid-area: 1 / 1 / 2 / 2; 
        background-image: url(../img/pexels-photo-2976579.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x:center;
    }
    .grid-container2 .div2 { 
        height: 300px;
        grid-area: 1 / 2 / 2 / 3;
        background-image: url(../img/pexels-photo-2962135.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x:center;
    }
    .grid-container2 .div3 { 
        height: 300px;
        grid-area: 1 / 3 / 2 / 4;
        background-image: url(../img/pexels-photo-2905547.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x:center;
    }
    .grid-container2 .div4 { 
        height: 300px;
        grid-area: 2 / 1 / 3 / 2;
        background-image: url(../img/pexels-photo-2922672.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x:center;
    }
    .grid-container2 .div5 { 
        height: 300px;
        grid-area: 2 / 2 / 3 / 3;
        background-image: url(../img/pexels-photo-3012724.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x:center;
    }
    .grid-container2 .div6 { 
        height: 300px;
        grid-area: 3 / 1 / 4 / 2; 
        background-image: url(../img/pexels-photo-2943603.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position-x:center;
    } 

@media (500px <= width <= 700px) {
    .grid-container1 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }
    .grid-container1 .div1 { grid-area: 1 / 1 / 3 / 2; }
    .grid-container1 .div2 { grid-area: 1 / 2 / 2 / 3; }
    .grid-container1 .div3 { grid-area: 2 / 2 / 3 / 3; }
    .grid-container1 .div4 { grid-area: 3 / 2 / 5 / 3; }
    .grid-container1 .div5 { grid-area: 3 / 1 / 4 / 2; }
    .grid-container1 .div6 { grid-area: 4 / 1 / 5 / 2; } 



    .grid-container2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
    
    .grid-container2 .div1 { grid-area: 1 / 1 / 2 / 2; }
    .grid-container2 .div2 { grid-area: 1 / 2 / 2 / 3; }
    .grid-container2 .div3 { grid-area: 2 / 1 / 3 / 2; }
    .grid-container2 .div4 { grid-area: 2 / 2 / 3 / 3; }
    .grid-container2 .div5 { grid-area: 3 / 1 / 4 / 2; }
    .grid-container2 .div6 { grid-area: 3 / 2 / 4 / 3; } 
}
@media ( 500px> width) {
    h1{
        margin: 5% 0 ;
    }
    .grid-container1>div>div, .grid-container2>div>div{
        position: relative;
        float: left;
        top: 75%;
    } 
    .grid-container1 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr); 
        height: 100%;
    }
    .grid-container2 {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(6, 1fr); 
    }
    .grid-container1 .div1 { grid-area: 1 ; height: 300px; }
    .grid-container1 .div2 { grid-area: 2 ; height: 300px; }
    .grid-container1 .div3 { grid-area: 3 ; height: 300px; }
    .grid-container1 .div4 { grid-area: 4 ; height: 300px; }
    .grid-container1 .div5 { grid-area: 5 ; height: 300px; }
    .grid-container1 .div6 { grid-area: 6 ; height: 300px; } 
    .grid-container2 .div1 { grid-area: 1; }
    .grid-container2 .div2 { grid-area: 2; }
    .grid-container2 .div3 { grid-area: 3; }
    .grid-container2 .div4 { grid-area: 4; }
    .grid-container2 .div5 { grid-area: 5; }
    .grid-container2 .div6 { grid-area: 6; } 
}